<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="4312template">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput1">GK</label>
                <input id="teamAvgInput1" type="number" th:field="*{value1}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

    <!--DEFENSOR-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput2">RB</label>
                <input id="teamAvgInput2" type="number" th:field="*{value2}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput3">CB</label>
                <input id="teamAvgInput3" type="number" th:field="*{value3}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput4">CB</label>
                <input id="teamAvgInput4" type="number" th:field="*{value4}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput5">LB</label>
                <input id="teamAvgInput5" type="number" th:field="*{value5}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--MIDFIELDER-->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput6">CC</label>
                <input id="teamAvgInput6" type="number" th:field="*{value6}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput7">CC</label>
                <input id="teamAvgInput7" type="number" th:field="*{value7}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput8">CC</label>
                <input id="teamAvgInput8" type="number" th:field="*{value8}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--OFFENSIVE MIDFIELDER-->
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput9">COC</label>
                <input id="teamAvgInput9" type="number" th:field="*{value9}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

    <!--STRIKER-->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput10">ATT</label>
                <input id="teamAvgInput10" type="number" th:field="*{value10}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group text-white text-center">
                <label for="teamAvgInput11">ATT</label>
                <input id="teamAvgInput11" type="number" th:field="*{value11}" class="form-control" style="background-color: white!important; color: #0b0b0b !important;">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</html>